<meta charset="utf-8">

<nav>
  <a href="#facture" class="facture" title="Vous pouvez ici déposer votre facture mensuelle pour votre startup">Déposer une facture</a>
  <a href="#documents" class="documents" title="C'est ici que vous pouvez déposer votre attestation URSSAF, votre Kbis, …">Déposer des documents</a>
</nav>

<main>
  <iframe src="https://aitable.ai/share/shrDhEigkHQuDwTCe6Y0R" class="page facture" border="0"></iframe>
  <iframe src="https://aitable.ai/share/shrkWNWbePj22bCEa9XBH" class="page documents" border="0"></iframe>
</main>

<style>
  /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***  Fin du reset ***/

html, body {height: 100%;}

/* start auto height */
body {
  font-family: "Open Sans", Arial, Sans-Serif;
  display: flex;
  flex-flow: row;
}
nav {
  flex: 0 1 auto;
}
main {
  flex: 1 1 auto;
  overflow: hidden;
}
/* end auto height */

nav {
  padding: 1rem;
  box-shadow: 0 0 8px #0008;
}
nav a {
  padding: 1rem 1rem;
  color: #555;
  display: block;
  text-decoration: none;
}
nav a:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
nav a:hover,
nav a.current {
  color: #333;
  background-color: #f8f8f8;
}

nav a:focus {
  text-decoration: underline;
}

iframe {
  width: 100%;
  height: 100%;
}

/* page switch */
.page {
  display: none;
}
.page.current {
  display: block;
}

</style>

<script>
  window.addEventListener('hashchange', displayPage)

  function displayPage() {
    Array.from(document.querySelectorAll('.current')).forEach((e) => e.classList.remove('current'))
    const pageId = document.location.hash.slice(1)
    console.debug(`display page ${pageId}`)
    Array.from(document.querySelectorAll(`.${pageId}`)).forEach((e) => e.classList.add('current'))
  }

  displayPage()
</script>
